<a href="https://colab.research.google.com/github/jaymalak/ElectricityGenerator/blob/master/MAY2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Package

In [0]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 
pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs 
import glob

Loading Data

In [15]:
from google.colab import files
uploaded = files.upload()

Saving Reasonmaster_may14.xls to Reasonmaster_may14 (1).xls

In [0]:
import io
reasonmst = pd.read_excel(io.BytesIO(uploaded['Reasonmaster_may14.xls']))

In [17]:
from google.colab import files
uploaded = files.upload()

Saving technicalminload.xls to technicalminload (1).xls

In [0]:
techminload = pd.read_excel(io.BytesIO(uploaded['technicalminload.xls']))

In [19]:
reasonmst.head()

,DATE,STATION NAME,REVISION NO.,REASON,TIME
0,1\5\2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39
1,1\5\2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21
2,1\5\2014,CHANDRAPUR,3,"CHANDRAPUR -U3,4 BUNKERING PROB ,U5&7 PCQ U6 R...",2014-05-01 12:03:21
3,1\5\2014,PARAS,4,PARAS -PCQ: BLK 1-96: 460-431 MW,2014-05-01 12:13:05
4,1\5\2014,BHUSAWAL,5,BHUSAWAL -U4 ASH SERIES PROB &U5 PCQ,2014-05-01 12:33:17

In [20]:
techminload.head()

,Station,Unit No.,MCR Capacity,Technical Minimum load for Scheduling,Type
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,MSPGCL BHUSAWAL,2 *,210.0,143.89,MSPGCL
3,MSPGCL BHUSAWAL,3,210.0,143.89,MSPGCL
4,MSPGCL BHUSAWAL,4 #,500.0,322.00,MSPGCL

In [21]:
reasonmst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 5 columns):
DATE            1622 non-null object
STATION NAME    1622 non-null object
REVISION NO.    1622 non-null int64
REASON          1622 non-null object
TIME            1622 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 63.5+ KB

In [22]:
techminload.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 5 columns):
Station                                       60 non-null object
Unit No.                                      60 non-null object
MCR Capacity                                  60 non-null float64
Technical Minimum load    for  Scheduling     60 non-null float64
Type                                          60 non-null object
dtypes: float64(2), object(3)
memory usage: 2.5+ KB

In [28]:
from google.colab import files
import numpy as np
import pandas as pd
import glob

uploaded = files.upload()

##files.upload returns a dictionary of the files which were uploaded. The 
##dictionary is keyed by the file name, the value is the data which was 
##uploaded.
i = 1
all_data = pd.DataFrame()
all_data['mdate'] =[]
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))
  df = pd.read_excel(fn)
  df['mdate'] = i
  i = i + 1
  all_data = all_data.append(df,ignore_index=True)

Saving MSPGCL_UNT_WISE_01_May_2014_47.xls to MSPGCL_UNT_WISE_01_May_2014_47.xls
Saving MSPGCL_UNT_WISE_02_May_2014_50.xls to MSPGCL_UNT_WISE_02_May_2014_50.xls
Saving MSPGCL_UNT_WISE_03_May_2014_45.xls to MSPGCL_UNT_WISE_03_May_2014_45.xls
Saving MSPGCL_UNT_WISE_04_May_2014_47.xls to MSPGCL_UNT_WISE_04_May_2014_47.xls
Saving MSPGCL_UNT_WISE_05_May_2014_55.xls to MSPGCL_UNT_WISE_05_May_2014_55.xls
Saving MSPGCL_UNT_WISE_06_May_2014_52.xls to MSPGCL_UNT_WISE_06_May_2014_52.xls
Saving MSPGCL_UNT_WISE_07_May_2014_66.xls to MSPGCL_UNT_WISE_07_May_2014_66.xls
Saving MSPGCL_UNT_WISE_08_May_2014_73.xls to MSPGCL_UNT_WISE_08_May_2014_73.xls
Saving MSPGCL_UNT_WISE_09_May_2014_61.xls to MSPGCL_UNT_WISE_09_May_2014_61.xls
Saving MSPGCL_UNT_WISE_10_May_2014_59.xls to MSPGCL_UNT_WISE_10_May_2014_59.xls
Saving MSPGCL_UNT_WISE_11_May_2014_63.xls to MSPGCL_UNT_WISE_11_May_2014_63.xls
Saving MSPGCL_UNT_WISE_12_May_2014_58.xls to MSPGCL_UNT_WISE_12_May_2014_58.xls
Saving MSPGCL_UNT_WISE_13_May_2014_37.xls to MSPGCL_UNT_WISE_13_May_2014_37.xls
Saving MSPGCL_UNT_WISE_14_May_2014_60.xls to MSPGCL_UNT_WISE_14_May_2014_60.xls
Saving MSPGCL_UNT_WISE_15_May_2014_60.xls to MSPGCL_UNT_WISE_15_May_2014_60.xls
Saving MSPGCL_UNT_WISE_16_May_2014_53.xls to MSPGCL_UNT_WISE_16_May_2014_53.xls
Saving MSPGCL_UNT_WISE_17_May_2014_59.xls to MSPGCL_UNT_WISE_17_May_2014_59.xls
Saving MSPGCL_UNT_WISE_18_May_2014_55.xls to MSPGCL_UNT_WISE_18_May_2014_55.xls
Saving MSPGCL_UNT_WISE_19_May_2014_65.xls to MSPGCL_UNT_WISE_19_May_2014_65.xls
Saving MSPGCL_UNT_WISE_20_May_2014_45.xls to MSPGCL_UNT_WISE_20_May_2014_45.xls
Saving MSPGCL_UNT_WISE_21_May_2014_61.xls to MSPGCL_UNT_WISE_21_May_2014_61.xls
Saving MSPGCL_UNT_WISE_22_May_2014_53.xls to MSPGCL_UNT_WISE_22_May_2014_53.xls
Saving MSPGCL_UNT_WISE_23_May_2014_60.xls to MSPGCL_UNT_WISE_23_May_2014_60.xls
Saving MSPGCL_UNT_WISE_24_May_2014_45.xls to MSPGCL_UNT_WISE_24_May_2014_45.xls
Saving MSPGCL_UNT_WISE_25_May_2014_46.xls to MSPGCL_UNT_WISE_25_May_2014_46.xls
Saving MSPGCL_UNT_WISE_26_May_2014_41.xls to MSPGCL_UNT_WISE_26_May_2014_41.xls
Saving MSPGCL_UNT_WISE_27_May_2014_54.xls to MSPGCL_UNT_WISE_27_May_2014_54.xls
Saving MSPGCL_UNT_WISE_28_May_2014_53.xls to MSPGCL_UNT_WISE_28_May_2014_53.xls
Saving MSPGCL_UNT_WISE_29_May_2014_40.xls to MSPGCL_UNT_WISE_29_May_2014_40.xls
Saving MSPGCL_UNT_WISE_30_May_2014_51.xls to MSPGCL_UNT_WISE_30_May_2014_51.xls
Saving MSPGCL_UNT_WISE_31_May_2014_39.xls to MSPGCL_UNT_WISE_31_May_2014_39.xls
User uploaded file "MSPGCL_UNT_WISE_01_May_2014_47.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_02_May_2014_50.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_03_May_2014_45.xls" with length 81408 bytes
User uploaded file "MSPGCL_UNT_WISE_04_May_2014_47.xls" with length 82432 bytes
User uploaded file "MSPGCL_UNT_WISE_05_May_2014_55.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_06_May_2014_52.xls" with length 82432 bytes
User uploaded file "MSPGCL_UNT_WISE_07_May_2014_66.xls" with length 81408 bytes
User uploaded file "MSPGCL_UNT_WISE_08_May_2014_73.xls" with length 81408 bytes
User uploaded file "MSPGCL_UNT_WISE_09_May_2014_61.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_10_May_2014_59.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_11_May_2014_63.xls" with length 80896 bytes
User uploaded file "MSPGCL_UNT_WISE_12_May_2014_58.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_13_May_2014_37.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_14_May_2014_60.xls" with length 82432 bytes
User uploaded file "MSPGCL_UNT_WISE_15_May_2014_60.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_16_May_2014_53.xls" with length 82432 bytes
User uploaded file "MSPGCL_UNT_WISE_17_May_2014_59.xls" with length 80896 bytes
User uploaded file "MSPGCL_UNT_WISE_18_May_2014_55.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_19_May_2014_65.xls" with length 81408 bytes
User uploaded file "MSPGCL_UNT_WISE_20_May_2014_45.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_21_May_2014_61.xls" with length 82432 bytes
User uploaded file "MSPGCL_UNT_WISE_22_May_2014_53.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_23_May_2014_60.xls" with length 82432 bytes
User uploaded file "MSPGCL_UNT_WISE_24_May_2014_45.xls" with length 82432 bytes
User uploaded file "MSPGCL_UNT_WISE_25_May_2014_46.xls" with length 81408 bytes
User uploaded file "MSPGCL_UNT_WISE_26_May_2014_41.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_27_May_2014_54.xls" with length 81408 bytes
User uploaded file "MSPGCL_UNT_WISE_28_May_2014_53.xls" with length 81920 bytes
User uploaded file "MSPGCL_UNT_WISE_29_May_2014_40.xls" with length 80896 bytes
User uploaded file "MSPGCL_UNT_WISE_30_May_2014_51.xls" with length 80384 bytes
User uploaded file "MSPGCL_UNT_WISE_31_May_2014_39.xls" with length 81920 bytes

In [29]:
df.head()

,BLOCK NO,KORADI_U1,KORADI_U2,KORADI_U3,KORADI_U4,KORADI_U5,KORADI_U6,KORADI_U7,KORADI,NASIK_U1,NASIK_U2,NASIK_U3,NASIK_U4,NASIK_U5,NASIK,BHUSAWAL_U1,BHUSAWAL_U2,BHUSAWAL_U3,BHUSAWAL_U4,BHUSAWAL_U5,BHUSAWAL,CHANDRAPUR_U1,CHANDRAPUR_U2,CHANDRAPUR_U3,CHANDRAPUR_U4,CHANDRAPUR_U5,CHANDRAPUR_U6,CHANDRAPUR_U7,CHANDRAPUR,PARAS_U2,PARAS_U3,PARAS_U4,PARAS,KHAPERKHEDA_U1,KHAPERKHEDA_U2,KHAPERKHEDA_U3,KHAPERKHEDA_U4,KHAPERKHEDA_U5,KHAPERKHEDA,PARALI_U1,PARALI_U2,PARALI_U3,PARALI_U4,PARALI_U5,PARALI_U6,PARALI_U7,PARALI,MSEDCL_THA,URAN_STG_1,URAN_STG_2,URAN_WHRP,URAN,MSEDCL_GAS,BHIRA,GHATGHAR_1,GHATGHAR_2,GHATGHAR,KOYNA_IV,KOYNA_I_II,KOYNA_STG_1_2_4,KOYNA_III,KOYNA_STG_3,BHATGHAR,BHATSA,KDPH,PAITHAN,PENCH_MS,VEER,YELDARI,OTHER_HY,TILLARI,VAITARNA,MSEDCL_HYD,MSEDCL_SOL,MSEDCL_SOL.1,TOTAL MSPGCL GEN,mdate
0,1,0,0,0,0,0,153,144,297,0,0,172,182.0,182,536.0,0,116,116,282,282,796,137,151,146,183,411,251,274,1553,0,182,201,383,132,0,152,153,329,766,0,0,0,0,0,166,166,332,4663.0,0,390,210,600,600,0,124.04,122.36,246.40,0.0,180.60,180.60,77.622,0,301.56,0,0,0,89.509,0,63.309,454.378,0,0,881.378,0,0,6144.378,31
1,2,0,0,0,0,0,153,144,297,0,0,172,182.0,182,536.0,0,116,116,282,282,796,137,151,146,183,411,251,274,1553,0,182,201,383,132,0,152,153,329,766,0,0,0,0,0,166,166,332,4663.0,0,390,210,600,600,0,123.08,122.64,245.72,0.0,417.28,417.28,77.539,0,302.64,0,0,0,69.475,0,59.618,431.733,0,0,1094.733,0,0,6357.733,31
2,3,0,0,0,0,0,153,144,297,0,0,172,182.0,182,536.0,0,116,116,282,282,796,137,151,146,183,411,251,274,1553,0,182,201,383,132,0,152,153,329,766,0,0,0,0,0,166,166,332,4663.0,0,390,210,600,600,0,123.48,122.80,246.28,0.0,347.12,347.12,77.259,0,307.12,0,0,0,64.866,0,54.780,426.766,0,0,1020.166,0,0,6283.166,31
3,4,0,0,0,0,0,153,144,297,0,0,172,182.0,182,536.0,0,116,116,282,282,796,137,151,146,183,411,251,274,1553,0,182,201,383,132,0,152,153,329,766,0,0,0,0,0,166,166,332,4663.0,0,390,210,600,600,0,123.60,122.40,246.00,0.0,180.16,180.16,77.400,0,297.12,0,0,0,65.099,0,55.141,417.360,0,0,843.520,0,0,6106.520,31
4,5,0,0,0,0,0,153,144,297,0,0,172,182.0,182,536.0,0,116,116,282,282,796,137,151,146,183,411,251,274,1553,0,182,201,383,132,0,152,153,329,766,0,0,0,0,0,166,166,332,4663.0,0,390,210,600,600,0,123.68,122.68,246.36,0.0,154.56,154.56,137.219,0,291.20,0,0,0,65.367,0,55.274,411.841,0,0,812.761,0,0,6075.761,31

In [30]:
all_data.head()

,BHATGHAR,BHATSA,BHIRA,BHUSAWAL,BHUSAWAL_U1,BHUSAWAL_U2,BHUSAWAL_U3,BHUSAWAL_U4,BHUSAWAL_U5,BLOCK NO,CHANDRAPUR,CHANDRAPUR_U1,CHANDRAPUR_U2,CHANDRAPUR_U3,CHANDRAPUR_U4,CHANDRAPUR_U5,CHANDRAPUR_U6,CHANDRAPUR_U7,GHATGHAR,GHATGHAR_1,GHATGHAR_2,KDPH,KHAPERKHEDA,KHAPERKHEDA_U1,KHAPERKHEDA_U2,KHAPERKHEDA_U3,KHAPERKHEDA_U4,KHAPERKHEDA_U5,KORADI,KORADI_U1,KORADI_U2,KORADI_U3,KORADI_U4,KORADI_U5,KORADI_U6,KORADI_U7,KOYNA_III,KOYNA_IV,KOYNA_I_II,KOYNA_STG_1_2_4,KOYNA_STG_3,MSEDCL_GAS,MSEDCL_HYD,MSEDCL_SOL,MSEDCL_SOL.1,MSEDCL_THA,NASIK,NASIK_U1,NASIK_U2,NASIK_U3,NASIK_U4,NASIK_U5,OTHER_HY,PAITHAN,PARALI,PARALI_U1,PARALI_U2,PARALI_U3,PARALI_U4,PARALI_U5,PARALI_U6,PARALI_U7,PARAS,PARAS_U2,PARAS_U3,PARAS_U4,PENCH_MS,TILLARI,TOTAL MSPGCL GEN,URAN,URAN_STG_1,URAN_STG_2,URAN_WHRP,VAITARNA,VEER,YELDARI,mdate
0,307.32,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,1.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.0,0.0,0.0,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,101.873,276.28,428.92,705.20,0.0,460.0,1197.934,0.0,0,5227.000,516.000,0.0,0.0,172.000,172.000,172.000,492.734,0.0,483.0,0.0,0.0,0.0,0.0,151.0,166.0,166.0,431.0,0.0,201.0,230.0,13.046,0.0,6884.934,460.0,0.0,295.0,165.0,0.0,0.0,172.368,1.0
1,323.00,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,2.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.0,0.0,0.0,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.942,275.16,449.56,724.72,0.0,460.0,1232.115,0.0,0,5188.847,490.847,0.0,0.0,172.000,146.847,172.000,507.395,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.294,0.0,6880.962,460.0,0.0,295.0,165.0,0.0,0.0,172.101,1.0
2,321.92,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,3.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.0,0.0,0.0,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.459,275.84,449.44,725.28,0.0,460.0,1187.932,0.0,0,5176.054,478.054,0.0,0.0,172.000,142.000,164.054,462.652,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.042,0.0,6823.986,460.0,0.0,295.0,165.0,0.0,0.0,128.690,1.0
3,312.20,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,4.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.0,0.0,0.0,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.016,275.64,408.68,684.32,0.0,460.0,1120.451,0.0,0,5147.762,449.762,0.0,0.0,166.762,142.000,141.000,436.131,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.105,0.0,6728.213,460.0,0.0,295.0,165.0,0.0,0.0,111.826,1.0
4,344.44,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,5.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.0,0.0,0.0,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.537,266.52,233.20,499.72,0.0,460.0,965.624,0.0,0,5179.602,481.602,0.0,0.0,172.000,142.000,167.602,465.904,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.836,0.0,6605.226,460.0,0.0,295.0,165.0,0.0,0.0,108.628,1.0

In [93]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2978 entries, 0 to 2977
Data columns (total 77 columns):
BHATGHAR            2976 non-null float64
BHATSA              2976 non-null float64
BHIRA               2976 non-null float64
BHUSAWAL            2976 non-null float64
BHUSAWAL_U1         2976 non-null float64
BHUSAWAL_U2         2976 non-null float64
BHUSAWAL_U3         2976 non-null float64
BHUSAWAL_U4         2976 non-null float64
BHUSAWAL_U5         2976 non-null float64
BLOCK NO            2976 non-null float64
CHANDRAPUR          2976 non-null float64
CHANDRAPUR_U1       2976 non-null float64
CHANDRAPUR_U2       2976 non-null float64
CHANDRAPUR_U3       2976 non-null float64
CHANDRAPUR_U4       2976 non-null float64
CHANDRAPUR_U5       2976 non-null float64
CHANDRAPUR_U6       2976 non-null float64
CHANDRAPUR_U7       2976 non-null float64
GHATGHAR            2976 non-null float64
GHATGHAR_1          2976 non-null float64
GHATGHAR_2          2976 non-null float64
KDPH                2976 non-null float64
KHAPERKHEDA         2976 non-null float64
KHAPERKHEDA_U1      2976 non-null float64
KHAPERKHEDA_U2      2976 non-null float64
KHAPERKHEDA_U3      2976 non-null float64
KHAPERKHEDA_U4      2976 non-null float64
KHAPERKHEDA_U5      2976 non-null float64
KORADI              2976 non-null float64
KORADI_U1           2976 non-null float64
KORADI_U2           2976 non-null float64
KORADI_U3           2976 non-null float64
KORADI_U4           2976 non-null float64
KORADI_U5           2976 non-null float64
KORADI_U6           2976 non-null float64
KORADI_U7           2976 non-null float64
KOYNA_III           2976 non-null float64
KOYNA_IV            2976 non-null float64
KOYNA_I_II          2976 non-null float64
KOYNA_STG_1_2_4     2976 non-null float64
KOYNA_STG_3         2976 non-null float64
MSEDCL_GAS          2976 non-null float64
MSEDCL_HYD          2976 non-null float64
MSEDCL_SOL          2976 non-null float64
MSEDCL_SOL.1        2978 non-null object
MSEDCL_THA          2976 non-null float64
NASIK               2976 non-null float64
NASIK_U1            2976 non-null float64
NASIK_U2            2976 non-null float64
NASIK_U3            2976 non-null float64
NASIK_U4            2976 non-null float64
NASIK_U5            2976 non-null float64
OTHER_HY            2976 non-null float64
PAITHAN             2976 non-null float64
PARALI              2976 non-null float64
PARALI_U1           2976 non-null float64
PARALI_U2           2976 non-null float64
PARALI_U3           2976 non-null float64
PARALI_U4           2976 non-null float64
PARALI_U5           2976 non-null float64
PARALI_U6           2976 non-null float64
PARALI_U7           2976 non-null float64
PARAS               2976 non-null float64
PARAS_U2            2976 non-null float64
PARAS_U3            2976 non-null float64
PARAS_U4            2976 non-null float64
PENCH_MS            2976 non-null float64
TILLARI             2976 non-null float64
TOTAL MSPGCL GEN    2976 non-null float64
URAN                2976 non-null float64
URAN_STG_1          2976 non-null float64
URAN_STG_2          2976 non-null float64
URAN_WHRP           2976 non-null float64
VAITARNA            2976 non-null float64
VEER                2976 non-null float64
YELDARI             2976 non-null float64
mdate               2978 non-null float64
dtypes: float64(76), object(1)
memory usage: 1.7+ MB

In [74]:
reason_search = reasonmst[reasonmst['REASON'].str.contains('SLDC',case=False) ] 
reason_search

,DATE,STATION NAME,REVISION NO.,REASON,TIME
0,1\5\2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39
1,1\5\2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21
5,1\5\2014,NASIK,6,NASIK -BACKBOWN BY SLDC BLK 53-58,2014-05-01 12:41:49
6,1\5\2014,CHANDRAPUR,7,CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48,2014-05-01 12:53:00
8,1\5\2014,KHAPERKHEDA,9,KHAPERKHEDA -Khaperkheda U5 BDN BLK36-74 and U...,2014-05-01 21:05:25
...,...,...,...,...,...
1585,31\5\2014,NASIK,2,NASIK -REV BY SLDC: BD WD BLK[9-42],2014-05-31 00:34:21
1586,31\5\2014,KHAPERKHEDA,3,KHAPERKHEDA -REV BY SLDC: BD WD: BLK[27],2014-05-31 00:37:51
1587,31\5\2014,CHANDRAPUR,4,CHANDRAPUR -REV BY SLDC: BD WD : BLK[27],2014-05-31 00:42:00
1591,31\5\2014,TPCL_U5,8,TPCL_U5 -REV BY SLDC: BD WD: BLK[11-33],2014-05-31 03:25:25
1601,31\5\2014,VIPL,18,VIPL -Final implemented sch by SLDC,2014-09-06 12:36:06

In [89]:
reasonmst['TYPE']='NONSLDC'
reasonmst.loc[reasonmst['REASON'].str.contains('SLDC',case=False), 'TYPE'] = 'SLDC'
reasonmst.head()

,DATE,STATION NAME,REVISION NO.,REASON,TIME,TYPE
0,1\5\2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39,SLDC
1,1\5\2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21,SLDC
2,1\5\2014,CHANDRAPUR,3,"CHANDRAPUR -U3,4 BUNKERING PROB ,U5&7 PCQ U6 R...",2014-05-01 12:03:21,NONSLDC
3,1\5\2014,PARAS,4,PARAS -PCQ: BLK 1-96: 460-431 MW,2014-05-01 12:13:05,NONSLDC
4,1\5\2014,BHUSAWAL,5,BHUSAWAL -U4 ASH SERIES PROB &U5 PCQ,2014-05-01 12:33:17,NONSLDC

In [112]:
gdate = all_data.groupby('mdate')
gdate.first()
gdate.get_group(1.0)

,BHATGHAR,BHATSA,BHIRA,BHUSAWAL,BHUSAWAL_U1,BHUSAWAL_U2,BHUSAWAL_U3,BHUSAWAL_U4,BHUSAWAL_U5,BLOCK NO,CHANDRAPUR,CHANDRAPUR_U1,CHANDRAPUR_U2,CHANDRAPUR_U3,CHANDRAPUR_U4,CHANDRAPUR_U5,CHANDRAPUR_U6,CHANDRAPUR_U7,GHATGHAR,GHATGHAR_1,GHATGHAR_2,KDPH,KHAPERKHEDA,KHAPERKHEDA_U1,KHAPERKHEDA_U2,KHAPERKHEDA_U3,KHAPERKHEDA_U4,KHAPERKHEDA_U5,KORADI,KORADI_U1,KORADI_U2,KORADI_U3,KORADI_U4,KORADI_U5,KORADI_U6,KORADI_U7,KOYNA_III,KOYNA_IV,KOYNA_I_II,KOYNA_STG_1_2_4,KOYNA_STG_3,MSEDCL_GAS,MSEDCL_HYD,MSEDCL_SOL,MSEDCL_SOL.1,MSEDCL_THA,NASIK,NASIK_U1,NASIK_U2,NASIK_U3,NASIK_U4,NASIK_U5,OTHER_HY,PAITHAN,PARALI,PARALI_U1,PARALI_U2,PARALI_U3,PARALI_U4,PARALI_U5,PARALI_U6,PARALI_U7,PARAS,PARAS_U2,PARAS_U3,PARAS_U4,PENCH_MS,TILLARI,TOTAL MSPGCL GEN,URAN,URAN_STG_1,URAN_STG_2,URAN_WHRP,VAITARNA,VEER,YELDARI
0,307.32,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,1.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.00,0.00,0.00,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,101.873,276.28,428.92,705.20,0.0,460.0,1197.934,0.0,0,5227.000,516.000,0.0,0.0,172.000,172.000,172.000,492.734,0.0,483.0,0.0,0.0,0.0,0.0,151.0,166.0,166.0,431.0,0.0,201.0,230.0,13.046,0.0,6884.934,460.0,0.0,295.0,165.0,0.0,0.0,172.368
1,323.00,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,2.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.00,0.00,0.00,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.942,275.16,449.56,724.72,0.0,460.0,1232.115,0.0,0,5188.847,490.847,0.0,0.0,172.000,146.847,172.000,507.395,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.294,0.0,6880.962,460.0,0.0,295.0,165.0,0.0,0.0,172.101
2,321.92,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,3.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.00,0.00,0.00,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.459,275.84,449.44,725.28,0.0,460.0,1187.932,0.0,0,5176.054,478.054,0.0,0.0,172.000,142.000,164.054,462.652,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.042,0.0,6823.986,460.0,0.0,295.0,165.0,0.0,0.0,128.690
3,312.20,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,4.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.00,0.00,0.00,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.016,275.64,408.68,684.32,0.0,460.0,1120.451,0.0,0,5147.762,449.762,0.0,0.0,166.762,142.000,141.000,436.131,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.105,0.0,6728.213,460.0,0.0,295.0,165.0,0.0,0.0,111.826
4,344.44,0.0,0.0,917.0,0.0,125.0,134.0,338.0,320.0,5.0,1702.0,137.0,155.0,155.0,155.0,388.0,347.0,365.0,0.00,0.00,0.00,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,155.537,266.52,233.20,499.72,0.0,460.0,965.624,0.0,0,5179.602,481.602,0.0,0.0,172.000,142.000,167.602,465.904,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,12.836,0.0,6605.226,460.0,0.0,295.0,165.0,0.0,0.0,108.628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,260.32,0.0,0.0,1013.0,0.0,125.0,134.0,404.0,350.0,92.0,1807.0,137.0,155.0,155.0,192.0,411.0,392.0,365.0,246.20,123.00,123.20,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,0.000,0.00,31.92,31.92,0.0,610.0,755.089,0.0,0,5324.000,425.000,0.0,0.0,142.000,142.000,141.000,476.969,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,35.763,0.0,6689.089,610.0,0.0,390.0,220.0,0.0,0.0,180.886
92,281.56,0.0,0.0,1013.0,0.0,125.0,134.0,404.0,350.0,93.0,1807.0,137.0,155.0,155.0,192.0,411.0,392.0,365.0,245.72,122.80,122.92,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,0.000,0.00,31.92,31.92,0.0,610.0,774.361,0.0,0,5324.000,425.000,0.0,0.0,142.000,142.000,141.000,496.721,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,36.249,0.0,6708.361,610.0,0.0,390.0,220.0,0.0,0.0,178.912
93,272.64,0.0,0.0,1013.0,0.0,125.0,134.0,404.0,350.0,94.0,1807.0,137.0,155.0,155.0,192.0,411.0,392.0,365.0,245.88,123.04,122.84,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,0.000,0.00,31.92,31.92,0.0,610.0,745.026,0.0,0,5324.000,425.000,0.0,0.0,142.000,142.000,141.000,467.226,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,15.305,0.0,6679.026,610.0,0.0,390.0,220.0,0.0,0.0,179.281
94,275.12,0.0,0.0,1013.0,0.0,125.0,134.0,404.0,350.0,95.0,1807.0,137.0,155.0,155.0,192.0,411.0,392.0,365.0,245.64,123.28,122.36,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,0.000,0.00,32.04,32.04,0.0,610.0,742.829,0.0,0,5324.000,425.000,0.0,0.0,142.000,142.000,141.000,465.149,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,11.305,0.0,6676.829,610.0,0.0,390.0,220.0,0.0,0.0,178.724
95,283.68,0.0,0.0,1013.0,0.0,125.0,134.0,404.0,350.0,96.0,1807.0,137.0,155.0,155.0,192.0,411.0,392.0,365.0,245.88,123.28,122.60,0.0,890.0,160.0,158.0,0.0,196.0,376.0,288.0,0.0,0.0,0.0,0.0,0.0,144.0,144.0,0.000,0.00,33.24,33.24,0.0,610.0,750.224,0.0,0,5324.000,425.000,0.0,0.0,142.000,142.000,141.000,471.104,0.0,470.0,0.0,0.0,0.0,0.0,138.0,166.0,166.0,431.0,0.0,201.0,230.0,6.981,0.0,6684.224,610.0,0.0,390.0,220.0,0.0,0.0,180.443

In [110]:
all_data['BHATGHAR'].unique()

array([307.32, 323.  , 321.92, ..., 376.36, 302.92, 300.08])

In [0]:
## Function to list 
def fun_nunique() :
     if len(all_data['BHATGHAR'].unique()) > 1 :
         print('not unique')
     else :
         print('unique')